<style>
  
  footer {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      background-color: #0A2632;
      color: #fff;
  }

  .centered-div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%; 
  }

  h1 {
      margin: 0; 
  }

  .center-links a {
      text-decoration: none;
      margin: 0 10px; 
      color: #fff;
  }

  .center-links a:hover {
      text-shadow: 0 0 10px #fff, 0 0 5px #fff;
  }

  .right-image img {
      width: 50px; 
      height: auto;
      
  }

</style>
  
<footer>
    <div class="centered-div">
        <h1>Team Rocket</h1>
        <div class="center-links">
            <a href="/about">About</a>
            <a href="/community">Community</a>
            <a href="/contact">Contact Us</a>
        </div>
        <div class="right-image">
          <a href="https://replit.com/@MichaelRivera15/Pokemon?v=1">
              <img src="static/assets/replit_logo.png" alt="Clickable Image">
          </a>
        </div>
    </div>
</footer>